{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "src/css/index/style.css" %}">
{% endblock css %}

{% block top__content %}
    <section class="top__content">
        <h1 class="top__title">Всё, чего заслуживает ваш дом</h1>
        <p class="top__text">Наша мебель — ваше отражение</p>
        <a href="{% url "catalog:index" "all" %}" class="top__link">Перейти в каталог</a>
    </section>
{% endblock top__content %}

{% block content %}
    <section class="content center">
        <h2 class="content__title">Мебель для ...</h2>
        <div class="for">
            <a href="{% url "catalog:index" "otdyh" %}" class="for__item for__item_1 for__item_big">ОТДЫХА</a>
            <a href="{% url "catalog:index" "rabota" %}" class="for__item for__item_2 for__item_big">РАБОТЫ</a>
            <a href="{% url "catalog:index" "kuhnya" %}" class="for__item for__item_3">КУХНИ</a>
            <a href="{% url "catalog:index" "detskaya" %}" class="for__item for__item_4">ДЕТСКОЙ</a>
            <a href="{% url "catalog:index" "vannaya" %}" class="for__item for__item_5">ВАННОЙ</a>
        </div>
    </section>

    <section class="content center">
        <h2 class="content__title">Специальные предложения</h2>
        {% include 'includes/products.html' with filter="spec_offers" %}
    </section>

    <section class="content center">
        <h2 class="content__title">Каталог товаров</h2>
        {% include 'includes/products.html' with filter="little" %}
        <a href="{% url "catalog:index" "all" %}" class="content__bottom-link">Перейти в каталог</a>
    </section>
{% endblock content %}
