{% load static %}
{% comment %} {% load goods_tags %} {% endcomment %}


<div class="products">
    {% comment %} {% tag_goods as goods %} {% endcomment %}    
    {% for product in goods %}
        <a href="{% url "catalog:product" product.slug %}">
            <div class="product">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product__img">
                {% else %}
                    <img src="{% static "src/img/catalog/image_not_found.jpg" %}" alt="{{ product.name }}" class="product__img">
                {% endif %}
                {% if product.discount > 0 %}
                    <div class="product__sale">
                        <span class = "text">Скидка: {{ product.discount }} %</span>
                    </div>
                {% endif %}
                <h3 class="product__title">{{ product.name }}</h3>
                <p class="product__description">{{ product.description }}</p>
                <div class="box-price">
                    <p class="price">{{ product.get_new_price }} руб.</p>
                    {% if product.discount > 0 %}
                        <p class="price price_crossed">{{ product.get_old_price }} руб.</p>                    
                    {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}
</div>
