{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "src/css/users/style.css" %}">
{% endblock css %}

{% block top__content %}

<div class="logincontent">
    <div class="login">
        <h1 class="top__text">Авторизация</h1>
        <form class="form" action="{% url "user:login" %}" method="POST">
            {% csrf_token %}
            {% if request.GET.next %}
                <input type="hidden" name="next", value="{{ request.GET.next }}">
            {% endif %}
            <input type="text" class="form__input" id="username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" name="username" placeholder="Введите ваше имя пользователя" required>
            <input type="password" class="form__input" id="password" name="password" placeholder="Введите ваш пароль" required>
            <button type="submit" class="form__button">Войти</button>
        </form>
        <div class="registration">
            <a href="#" class="top__link">Забыли пароль?</a> | <a href="{% url "user:registration" %}" class="top__link">Создать аккаунт</a>
        </div>
        <hr>
        <div>
            <p class="top__caption">Или авторизуйтесь через:</p>
            <div class="icons">
                <a href="#" class="top__link">
                    <img class="icon" src="{% static "src/img/google.svg" %}" alt="Google Icon" width="20" height="20">
                    Google
                </a>
                <a href="#" class="top__link">
                    <img class="icon" src="{% static "src/img/facebook.svg" %}" alt="Facebook Icon" width="20" height="20">
                    Facebook
                </a>
                <a href="#" class="top__link">
                    <img class="icon" src="{% static "src/img/github.svg" %}" alt="GitHub Icon" width="20" height="20">
                    GitHub
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock top__content %}
