{% extends "main/base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static "src/css/catalog/style.css" %}">
{% endblock css %}


{% block top__content %}
    <section class="top__content">
        <h1 class="top__title">Каталог</h1>
    </section>
{% endblock top__content %}


{% block content %}
    <section class="content center">
        <div class="content__header">
            <div class="breadcrumbs">
                <a href="{% url "main:index" %}" class="breadcrumbs__link">Главная</a>
                <a href="{% url "catalog:index" %}" class="breadcrumbs__link">Каталог товаров</a>
            </div>

            <div class="content__sort">
                <select class="select">
                    <option>Порядок: сначала новые</option>
                    <option>Порядок: сначала старые</option>
                </select>
            </div>
        </div>

        {% include 'goods/includes/products.html' %}

        <a href="{% url "catalog:index" %}" class="content__bottom-link">Показать еще</a>
    </section>
{% endblock content %}

