{% extends "main/base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static "src/css/catalog/style.css" %}">
{% endblock css %}


{% block top__content %}
    <section class="top__content">
        <h1 class="top__title">Диван NASTAN</h1>
    </section>
{% endblock top__content %}


{% block content %}
    <section class="content center">
        <div class="prod">            
            <img src="{% static "src/img/index/products/prod9.jpg" %}" alt="Диван NASTAN" class="prod__img">

            <div class="right">
                <p class="prod__description">Модель отличается простотой линий и форм, отсутствием броского декора. </p>
                <div class="box-price">
                    <p class="price">80 000 руб.</p>
                </div>
                <form action="#" class="form">
                    <button type="submit" class="form__button">Добавить в корзину</button>
                </form>
            </div>
            
        </div>
    </section>
{% endblock content %}

