.top {
  height: 400px;
  background-image: url(../../img/catalog/bg_top.jpg);
}

.content {

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    .breadcrumbs {
      &__link:not(:last-child)::after {
        content: "/";
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        margin-left: 10px;
        margin-right: 10px;
      }

      &__link {
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        transition: color 0.2s;

        &:hover {
          color: #888888;
        }
      }
    }
  }




  &__sort {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    width: 288px;
    height: 41px;
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    padding-left: 14px;
    padding-right: 14px;

    &::after {
      justify-self: end;
      content: "";
      width: 17px;
      height: 8px;
      background-color: #000000;
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      grid-area: select;
    }

    .select {
      border: none;
      outline: none;
      appearance: none;
      background-color: transparent;
      width: 100%;
      height: 100%;
      margin: 0;
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      grid-area: select;

      &::-ms-expand {
        display: none;
      }
    }
  }
}

.prod {
  display: flex;
  flex-direction: row;
  transition: transform 0.2s, box-shadow 0.2s;

  &__img {
    width: 40%;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-bottom: 8px;
    padding-top: 10px;
  }

  .right {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__description {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    padding-bottom: 12px;
  }

  .form {
    margin-top: 10px;  

    &__button {    
      background: rgba(222, 215, 215, 0.41);
      border: 1px solid #FFFFFF;
      border-radius: 20px;
      width: 260px;
      height: 46px;
      font-size: 12px;
      line-height: 18px;
      color: #000000;
      transition: background 0.5s, color 0.5s;

      &:hover {
        background-color: black;
        color: rgb(222, 215, 215);
      }
    }
}

}













// .content {


//   &__title {
//     font-weight: 600;
//     font-size: 48px;
//     line-height: 59px;
//     color: $text_color2;
//     padding-top: 32px;
//     padding-bottom: 32px;
//   }

//   .products {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     column-gap: $gap;
//     row-gap: 56px;

//     .product {
//       width: 378px;
//       display: flex;
//       flex-direction: column;
//       transition: transform 0.2s, box-shadow 0.2s;

//       &:hover {
//         transform: scale(1.01);
//       }

//       &__img {
//         width: 100%;
//       }

//       &__title {
//         font-weight: 500;
//         font-size: 24px;
//         line-height: 29px;
//         color: $text_color2;
//         padding-bottom: 8px;
//         padding-top: 10px;
//       }

//       &__description {
//         font-size: 14px;
//         line-height: 17px;
//         color: $text_color3;
//         padding-bottom: 12px;
//       }
//     }

//     .box-price {
//       display: flex;
//       gap: $gap;

//       .price {
//         font-weight: 500;
//         font-size: 24px;
//         line-height: 29px;
//         color: #050505;

//         &_crossed {
//           text-decoration-line: line-through;
//           color: $text_color3;
//         }
//       }
//     }
//   }

//   &__bottom-link {
//     color: black;
//     display: block;
//     margin-top: 39px;
//     font-size: 16px;
//     font-weight: 400;
//     text-decoration-line: underline;
//     transition: color 0.2s;

//     &:hover {
//       color: $text_color3;
//       text-decoration: none;
//     }
//   }
// }

// .footer {
//   background: #f7f6f6;
//   margin-top: 64px;
//   padding-top: 32px;
//   padding-bottom: 59px;
//   display: flex;
//   align-items: start;
//   flex-wrap: wrap;
//   justify-content: space-between;

//   .logo__img {
//     filter: invert(100%);
//   }

//   &__content {
//     width: 784px;
//     display: flex;
//     align-items: start;
//     flex-wrap: wrap;
//     justify-content: space-between;
//   }

//   &__info {
//     display: flex;
//     gap: 129px;
//   }

//   &__heading {
//     font-weight: 500;
//     font-size: 24px;
//     line-height: 29px;
//     color: $text_color2;
//     padding-bottom: 12px;
//   }

//   &__item {
//     display: flex;
//     flex-direction: column;
//   }

//   &__icons {
//     display: flex;
//     gap: 20px;
//     align-items: center;

//     .icon path {
//       transition: fill 0.2s;
//     }

//     .icon:hover path {
//       fill: #000000;
//     }
//   }

//   .form {
//     display: flex;
//     flex-direction: column;

//     &__text {
//       color: black;
//       font-size: 12px;
//       font-weight: 400;
//       line-height: 15px;
//     }

//     &__input {
//       background: white;
//       border: 1px solid #c4c4c4;
//       box-sizing: border-box;
//       border-radius: 16px;
//       width: 260px;
//       height: 40px;
//       padding-left: 16px;
//       padding-right: 16px;
//       margin-top: 8px;
//       margin-bottom: 8px;
//       color: black;
//       font-size: 12px;
//       font-weight: 400;
//       line-height: 15px;

//       &::placeholder {
//         color: #c4c4c4;
//       }
//     }

// &__button {
//   background: rgba(222, 215, 215, 0.41);
//   border: 1px solid $text_color;
//   border-radius: 20px;
//   width: 260px;
//   height: 46px;
//   font-size: 12px;
//   line-height: 18px;
//   color: $text_color2;
//   transition: background 0.5s, color 0.5s;

//   &:hover {
//     background-color: black;
//     color: rgb(222, 215, 215);
//   }
// }
//   }

//   &__link {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 17px;
//     color: $text_color3;
//     padding-bottom: 12px;
//     transition: color 0.2s;

//     &:hover {
//       color: $text_color2;
//       text-decoration-line: underline;
//     }
//   }
// }