{% extends "base.html" %}
{% load static %}
{% load goods_tags %}


{% block css %}
    <link rel="stylesheet" href="{% static "src/css/catalog/style.css" %}">
{% endblock css %}


{% block top__content %}
    <section class="top__content">
        <h1 class="top__title">Каталог</h1>
    </section>
{% endblock top__content %}


{% block content %}    
    <section class="content center">        
        <div class="content__header">
            <div class="breadcrumbs">
                <a href="{% url "main:index" %}" class="breadcrumbs__link">Главная</a>
                <a href="{% url "catalog:index" "all" %}" class="breadcrumbs__link">Каталог товаров</a>
            </div>
                        
            <form action="{% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url "catalog:index" slug_url %}{% endif %}" method="get" id="order_form" class="form">
                <div class="form__checkbox">
                    <input type="checkbox" class="checkbox" name="on_sale" onchange="submitForm()" {% if request.GET.on_sale %}checked{% endif %}>Распродажа</input>
                </div>

                {% if request.GET.q %}
                    <input type="hidden" name="q", value="{{ request.GET.q }}"></input>
                {% endif %}

                <div class="form__order">
                    <select class="select" name='order_by' onchange="submitForm()">
                        <option value="default"
                        {% if not request.GET.order_by or request.GET.order_by == "default" %}selected{% endif %}>Порядок: сначала новые</option>
                        <option value="price" {% if request.GET.order_by == "price" %}selected{% endif %}>Порядок: сначала недорогие</option>
                        <option value="-price" {% if request.GET.order_by == "-price" %}selected{% endif %}>Порядок: сначала дорогие</option>
                    </select>
                </div>
            </form>
        </div>
        {% if request.GET.q %}
        <p class="text-search">Результаты поиска по запросу "{{ request.GET.q }}"</p>
        {% if not page_obj %}
        <p class="text-search">По запросу ничего не найдено</p><br><br><br><br><br><br><br>
        {% endif %}
        {% endif %}

        {% include 'includes/products.html' %}

        {% comment %} <a href="{% url "catalog:index" %}" class="content__bottom-link">Показать еще</a> {% endcomment %}
        {% if page_obj %}
        <div class="paginator">
            <div class="items">       
                <div class="items__item {% if not page_obj.has_previous %} disable {% endif %}">
                    <a class="items__link" href="
                        {% if page_obj.has_previous %}
                            ?{% change_params page=1 %}
                        {% else %}
                            #
                        {% endif %}
                    ">&lt&lt</a>
                </div>         
                <div class="items__item {% if not page_obj.has_previous %} disable {% endif %}">
                    <a class="items__link" href="
                        {% if page_obj.has_previous %}
                            ?{% change_params page=page_obj.previous_page_number %}
                        {% else %}
                            #
                        {% endif %}
                    ">&lt</a>
                </div>
                
                {% for page in page_obj.paginator.page_range %}
                    {% if page <= page_obj.number|add:2 and page >= page_obj.number|add:-2 %}
                        <div class="items__item {% if page == page_obj.number %}active{% endif %}">
                            <a class="items__link" href="?{% change_params page=page %}">{{page}}</a>
                        </div>                    
                    {% endif %}                    
                {% endfor %}

                <div class="items__item {% if not page_obj.has_next %} disable {% endif %}">
                    <a class="items__link" href="
                        {% if page_obj.has_next %}
                            ?{% change_params page=page_obj.next_page_number %}
                        {% else %}
                            #
                        {% endif %}
                    ">&gt</a>
                </div>
                <div class="items__item {% if not page_obj.has_next %} disable {% endif %}">
                    <a class="items__link" href="
                        {% if page_obj.has_next %}
                            ?{% change_params page=page_obj.paginator.num_pages %}
                        {% else %}
                            #
                        {% endif %}
                    ">&gt&gt</a>
                </div>
            </div>
        </div>
        {% endif %}
        
    </section>
{% endblock content %}

