{% load static %}

{% if carts %}
<div class="left">
    <div>
        <div class="left__header">
            <p>Товар</p>
            <p>К-во</p>
        </div>
        <div class="cart__content">
            {% for cart in carts %}
            <div class="item">            
                <div class="item__info">
                    <a href="{% url "goods:product" cart.product.slug %}">
                    {% if cart.product.image %}
                        <img src="{{ cart.product.image.url }}" alt="{{ cart.product.name }}" class="item__img">
                    {% else %}
                        <img src="{% static "src/img/catalog/image_not_found.jpg" %}" alt="{{ cart.product.name }}" class="item__img">
                    {% endif %}
                    </a>
                    <div>
                        <a href="{% url "goods:product" cart.product.slug %}">
                            <h4 class="item__title">{{ cart.product.name }}</h4>
                        </a>
                        <p class="item__description">{{ cart.product.description|truncatewords:10 }}</p>
                        <p class="item__price">{{ cart.product.get_new_price }} руб.</p>
                        <div class="item__links">
                            <a class="item__link" href="#">Избранные</a>
                            <a class="item__link remove-from-cart" href="{% url "carts:cart_remove" %}"
                            data-cart-id="{{ cart.id }}">
                                {% csrf_token %}
                                Удалить
                            </a>
                        </div>
                    </div>
                </div>


                <div class="item__quantity">
                    <input class="digit" value="{{ cart.quantity }}" readonly>
                    <div class="buttons">
                        <div class="button increment" data-cart-id="{{ cart.id }}" data-cart-change-url="{% url "carts:cart_change" %}">
                            {% csrf_token %}
                            <svg width="30.000000" height="16.000000" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <clipPath id="clip372_63">
                                        <rect id="Frame 98" width="16.000000" height="16.000006" fill="white" fill-opacity="0"/>
                                    </clipPath>
                                </defs>
                                <g clip-path="url(#clip372_63)">
                                    <path id="Vector 11" d="M6 9L8 7L10 9" stroke="#CACDD8" stroke-opacity="1.000000" stroke-width="1.600000" stroke-linecap="round"/>
                                </g>
                            </svg>                            
                        </div>
                        <div class="button decrement" data-cart-id="{{ cart.id }}" data-cart-change-url="{% url "carts:cart_change" %}">
                            {% csrf_token %}
                            <svg width="30.000000" height="16.000000" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <desc>
                                        Created with Pixso.
                                </desc>
                                <defs>
                                    <clipPath id="clip372_62">
                                        <rect id="Frame 97" width="16.000002" height="16.000006" transform="translate(16.000000 16.000000) rotate(-179.999985)" fill="white" fill-opacity="0"/>
                                    </clipPath>
                                </defs>
                                <g clip-path="url(#clip372_62)">
                                    <path id="Vector 11" d="M10 7L8 9L6 7" stroke="#CACDD8" stroke-opacity="1.000000" stroke-width="1.600000" stroke-linecap="round"/>
                                </g>
                            </svg>                            
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="cart__actions">
        {% if user.is_authenticated %}
        <a href="{% url "carts:cart_clear" %}" class="cart__button clear-cart"
        data-user-id="{{ user.id }}">        
            {% csrf_token %}
            Очистить корзину
        </a>
        {% else %}
        <a href="{% url "carts:cart_clear" %}" class="cart__button clear-cart">
            {% csrf_token %}
            Очистить корзину
        </a>
        {% endif %}
        <a href="{% url "catalog:index" "all" %}" class="cart__button">Продолжить покупки</a>
    </div>
</div>

<div class="form">        
    <h3 class="form__title">Оформление заказа</h3>
    <form class="form__box" action="">
        <input type="text" class="form__input" placeholder="Имя Фамилия">
        <input type="text" class="form__input" placeholder="+ 7 904 000 80 80">
        <input type="text" class="form__input" placeholder="Адрес доставки">

        <div>
            <h3 class="form__total">Итого: <b>{{ carts.total_price }} руб.</b></h3>
            <button class="form__button" type="submit">Оформить заказ</button>
        </div>
    </form>        
</div>
{% else %}
<div class="cart__empty">
    <h3>Ваша корзина пуста</h3>
</div>

{% endif %}